extends base

block body
    #editor.left
        textarea(id='text-input',oninput="this.editor.update()")
    #preview.right
        #metadata
        #content
        button(id='createBlogBtn') Create
    script(type='text/javascript', src='/js/editor.js')
